<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>抽奖程序</title>
	<style>
		#holder {
			border: 1px dashed #ddd;
			padding: 15px;
			width: 300px;
		}
		#tab-header a {
			padding: 3px 10px;
			border: 1px solid #ddd;
			margin-right: 10px;
		}
	</style>
</head>
<body>
	<h1>Hello World!</h1>
	<div id="holder">
	  Drag your file here
	</div>
	<p>请选择用于抽奖的字段（添加的顺序为数据展现的顺序）</p>
	<!-- 数据待选区域 -->
	<div class="" id="tab-header"></div>
	<!-- 数据存放区域 -->
	<div id="data-content"></div>
	<button id="make-sure">保存</button>
</body>
<script type="text/javascript" src="../javascript/render.js"></script>
</html>